<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>622444708778-pa7hamce5cr42s3ijkomgm7dhcv5ao5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622444708778-pa7hamce5cr42s3ijkomgm7dhcv5ao5p</string>
	<key>API_KEY</key>
	<string>AIzaSyBxpN0KGp68eieURugIF6TOKtuMKlFGZII</string>
	<key>GCM_SENDER_ID</key>
	<string>622444708778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>a.mysa</string>
	<key>PROJECT_ID</key>
	<string>mysa-a678d</string>
	<key>STORAGE_BUCKET</key>
	<string>mysa-a678d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622444708778:ios:f265255c4887f4d6</string>
	<key>DATABASE_URL</key>
	<string>https://mysa-a678d.firebaseio.com</string>
</dict>
</plist>